PORT=5001
# Example of PostgreSQL connection string not real URL that i use to deploy (Supabase)
DATABASE_URL=postgresql://user:password@host:port/database_name
JWT_SECRET=anythinghere
CLIENT_URL=http://localhost:5173